{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Galaxy | Share Post</title>
  </head>
  <body class="p-4 bg-gray-200 flex justify-center items-center min-h-screen">
    <div class="bg-white p-4 rounded-xl w-full md:w-3/5">
      <!-- Share Post by Mail -->

      {% if sent %}

      <!-- Success Message -->
      <div class="bg-green-100 p-5 w-full rounded">
        <div class="flex justify-between">
          <div class="flex space-x-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="flex-none fill-current text-green-500 h-4 w-4"
            >
              <path
                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z"
              />
            </svg>
            <div
              class="flex-1 leading-tight text-sm text-green-700 font-medium"
            >
              Email was successfully sent to {{ form.cleaned_data.to }}
            </div>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="flex-none fill-current text-green-600 h-3 w-3"
          >
            <path
              d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
            />
          </svg>
        </div>
      </div>
      <!-- End of Success Message -->

      {% else %}
      <h2
        class="text-xl md:text-2xl capitalize font-bold pb-6 text-emerald-600"
      >
        Share "{{ post.title|title }}" by mail
      </h2>
      <form method="post" autocomplete="off">
        {% csrf_token %} {% for field in form %}
        <label for="sender-name" class="block text-sm font-medium text-gray-700"
          >{{ field.label }}
        </label>

        {{ field }} {% endfor %}
        <button
          type="submit"
          class="bg-emerald-500 text-white px-4 py-2 rounded-md hover:bg-emerald-600 focus:outline-none focus:ring focus:border-emerald-300"
        >
          Share Post
        </button>
      </form>
      {% endif %}
    </div>
    <!-- JS Scripts -->
    <script type="module" src="{% static 'script.js' %}"></script>
  </body>
</html>
